# Build output
bin/
bin-int/

# Premake
premake/

# IDE
.vscode/

# Logs
*.log

# Python
__pycache__/

# Makefile
Makefile

# Mac
.DS_Store

# DXC pre-built binaries (downloaded by setup_dxc.py)
engine/vendor/dxc/


# Compiled assets
*.igasset
